{% raw %}
set viewplist {}
set fixedlist {}
proc vmdrestoremymaterials {} {
  set mlist { BrushedMetal AOChalky }
  set mymlist [material list]
  foreach mat $mlist {
    if { [lsearch $mymlist $mat] == -1 } {
      material add $mat
    }
  }
  material change ambient BrushedMetal 0.080000
  material change diffuse BrushedMetal 0.390000
  material change specular BrushedMetal 0.340000
  material change shininess BrushedMetal 0.150000
  material change mirror BrushedMetal 0.000000
  material change opacity BrushedMetal 1.000000
  material change outline BrushedMetal 0.000000
  material change outlinewidth BrushedMetal 0.000000
  material change transmode BrushedMetal 0.000000
  material change ambient AOChalky 0.000000
  material change diffuse AOChalky 0.850000
  material change specular AOChalky 0.000000
  material change shininess AOChalky 0.000000
  material change mirror AOChalky 0.000000
  material change opacity AOChalky 1.000000
  material change outline AOChalky 0.300000
  material change outlinewidth AOChalky 0.100000
  material change transmode AOChalky 0.000000
}

# Display settings
display eyesep       0.065000
display focallength  2.000000
display height       6.000000
display distance     -2.000000
display projection   Orthographic
display nearclip set 0.010000
display farclip  set 10.000000
display depthcue   off
display cuestart   0.500000
display cueend     10.000000
display cuestart   0.500000
display cueend     10.000000
display cuedensity 0.320000
display cuemode    Exp2
display shadows off
display ambientocclusion off
display aoambient 0.800000
display aodirect 0.300000
display dof off
display dof_fnumber 64.000000
display dof_focaldist 0.700000
{% endraw %}
mol new {{ mymol }} type {{ moltype }} first 0 last -1 step 1 filebonds 1 autobonds 1 waitfor all
mol addfile {{ gridpot }} type {{ gridtype }} first 0 last -1 step 1 filebonds 1 
{% raw %}
bonds 1 waitfor all
mol delrep 0 top
mol representation CPK 0.900000 0.500000 37.000000 37.000000
mol color Name
mol selection {not hydrogen}
mol material BrushedMetal
mol addrep top
mol selupdate 0 top 0
mol colupdate 0 top 0
mol scaleminmax top 0 0.000000 0.000000
mol smoothrep top 0 0
mol drawframes top 0 {now}
mol clipplane center 0 0 top {0.0 0.0 0.0}
mol clipplane color  0 0 top {0.5 0.5 0.5 }
mol clipplane normal 0 0 top {0.0 0.0 1.0}
mol clipplane status 0 0 top {0}
mol clipplane center 1 0 top {0.0 0.0 0.0}
mol clipplane color  1 0 top {0.5 0.5 0.5 }
mol clipplane normal 1 0 top {0.0 0.0 1.0}
mol clipplane status 1 0 top {0}
mol clipplane center 2 0 top {0.0 0.0 0.0}
mol clipplane color  2 0 top {0.5 0.5 0.5 }
mol clipplane normal 2 0 top {0.0 0.0 1.0}
mol clipplane status 2 0 top {0}
mol clipplane center 3 0 top {0.0 0.0 0.0}
mol clipplane color  3 0 top {0.5 0.5 0.5 }
mol clipplane normal 3 0 top {0.0 0.0 1.0}
mol clipplane status 3 0 top {0}
mol clipplane center 4 0 top {0.0 0.0 0.0}
mol clipplane color  4 0 top {0.5 0.5 0.5 }
mol clipplane normal 4 0 top {0.0 0.0 1.0}
mol clipplane status 4 0 top {0}
mol clipplane center 5 0 top {0.0 0.0 0.0}
mol clipplane color  5 0 top {0.5 0.5 0.5 }
mol clipplane normal 5 0 top {0.0 0.0 1.0}
mol clipplane status 5 0 top {0}
mol showrep top 0 0
mol representation VDW 0.900000 42.000000
mol color Volume 0
mol selection {not hydrogen}
mol material AOChalky
mol addrep top
mol selupdate 1 top 0
mol colupdate 1 top 0
mol scaleminmax top 1 -4.00000 4.000000
mol smoothrep top 1 0
mol drawframes top 1 {now}
mol clipplane center 0 1 top {0.0 0.0 0.0}
mol clipplane color  0 1 top {0.5 0.5 0.5 }
mol clipplane normal 0 1 top {0.0 0.0 1.0}
mol clipplane status 0 1 top {0}
mol clipplane center 1 1 top {0.0 0.0 0.0}
mol clipplane color  1 1 top {0.5 0.5 0.5 }
mol clipplane normal 1 1 top {0.0 0.0 1.0}
mol clipplane status 1 1 top {0}
mol clipplane center 2 1 top {0.0 0.0 0.0}
mol clipplane color  2 1 top {0.5 0.5 0.5 }
mol clipplane normal 2 1 top {0.0 0.0 1.0}
mol clipplane status 2 1 top {0}
mol clipplane center 3 1 top {0.0 0.0 0.0}
mol clipplane color  3 1 top {0.5 0.5 0.5 }
mol clipplane normal 3 1 top {0.0 0.0 1.0}
mol clipplane status 3 1 top {0}
mol clipplane center 4 1 top {0.0 0.0 0.0}
mol clipplane color  4 1 top {0.5 0.5 0.5 }
mol clipplane normal 4 1 top {0.0 0.0 1.0}
mol clipplane status 4 1 top {0}
mol clipplane center 5 1 top {0.0 0.0 0.0}
mol clipplane color  5 1 top {0.5 0.5 0.5 }
mol clipplane normal 5 1 top {0.0 0.0 1.0}
mol clipplane status 5 1 top {0}
{% endraw %}
mol rename top {{ mymol }} 
{% raw %}
set viewpoints([molinfo top]) {{{1 0 0 -0.26488} {0 1 0 0.688202} {0 0 1 0.265574} {0 0 0 1}} {{0.421188 -0.904513 0.0
667031 0} {-0.419934 -0.25967 -0.869611 0} {0.803906 0.338262 -0.489214 0} {0 0 0 1}} {{0.124176 0 0 0} {0 0.124176 0
0} {0 0 0.124176 0} {0 0 0 1}} {{1 0 0 -0.06} {0 1 0 -0.13} {0 0 1 0} {0 0 0 1}}}
lappend viewplist [molinfo top]
# done with molecule 0
#color scale method rgb
color Display Background black
axes location off

{% endraw %}

{% if render %}
render Tachyon TEMPFILE /usr/local/lib/vmd/tachyon_LINUXAMD64 -aasamples 12 TEMPFILE -format TARGA -res 2048 2048 -o {{ gridpot }}_front.tga
{% endif %}
